
body {
	background-image: url("../window.jpg");
	/* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

@media (max-width: 400px) {
    body {
       background-image: url("../window2.jpg");
    }
	button{
		float:right;
	}
}

@media (max-width: 500px) {
    body {
        background-image: url("../window2.jpg");
		
    }
	button{
		float:right;
	}
}

@media (max-width: 600px) {
    body {
        background-image: url("../window2.jpg");
    }
	button{
		float:right;
	}
}

